{% extends "pages/base.html" %}
{% load static %}
{% block head_title %}Become a Citizen Scientist{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
{% include 'pages/base/navbar.html' %}
<div class="mx-auto my-4 col-xl-6 col-lg-6 col-md-8 col-sm-12 text-center">
    <h1 class="font-weight-bold mt-5 mb-2 mx-2">
        Become a Citizen Scientist
    </h1>
    <h5 class="font-weight-bold text-center mb-2">
        Join Our Personal Weather Station and Air Quality
    </h5>
    <h5 class="font-weight-bold text-center mb-4">
        Monitor Initiative!
    </h5>

    <hr>

    <div class="row mx-auto mt-4 mb-2" id="invitation-letter">
        <div class="mx-lg-5 mx-md-4 mx-3">
        <h5 class="my-2 mb-5">
            As part of the SCORE project's commitment to harnessing the power of
            citizen science for climate change monitoring, we are thrilled to
            invite you to participate in our latest initiative: the installation
            of personal weather stations and air quality monitors in your home
            or back garden.
        </h5>

        <h3 class="font-weight-bolder mx-5 mb-3">What's in it for you?</h3>
        <div class="centered-list-bg-screens mb-5">
            <ul class="" style="text-align: left;">
                <h5><li>● <span class="font-weight-bold">Free kit:</span> The weather stations and air quality monitors are
            free for volunteers.</li></h5>
                <h5><li>● <span class="font-weight-bold">Site Analysis:</span> Our expert team will analyse your site to ensure
            it is optimal for your chosen sensor.</li></h5>
                 <h5><li>● <span class="font-weight-bold">A-Z Guide:</span> Volunteers will receive a comprehensive guide for
            a seamless installation and onboarding process.</li></h5>
                 <h5><li>● <span class="font-weight-bold">Technical Support:</span> if at any moment, you experience difficulties
            with the stations, our team will be on-hand to help.</li></h5>
                 <h5><li>● <span class="font-weight-bold">Free weather data:</span> all the data produced by your station will
            be available to not only SCORE and University College Dublin,
            but also to you.</li></h5>
            </ul>
        </div>

        <h5 class="my-2">
            <span class="font-weight-bold">Why a Private Weather Station or air
                quality kit?</span>
            By hosting this equipment in your garden or home, you contribute directly to our
            understanding of local weather patterns and air pollution, essential
            for climate resilience initiatives. It's an opportunity to make a
            meaningful impact while gaining insights into your local environment.
        </h5>
        <h5 class="my-2">
            We have a limited number of units available, so if you are a suitable
            candidate, we will contact you for further information, and with the
            next steps of the application process. Below we have three types of
            application for each type of sensor, <span class="font-weight-bolder">
            to start an application click on an "Apply here!" button.</span>
        </h5>
        <h4 class="font-weight-bolder mt-4 mb-0">
            <b>We hope that you will join us in making a difference in climate
            resilience through citizen science!</b>
        </h4>
        </div>
    </div>

</div>

<div class="mx-auto col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center mb-5">
    <div class="row justify-content-center my-2 mx-2 col-12">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4" style="padding-bottom: 100px;">
            <!--Profile Card 5-->
    		<div class="mt-4" style="width: 19.5rem;">
    		    <div class="profile-card-5">
    		        <div class="card-img-block">
    		            <img class="card-img-top" src="/static/images/weather_station.jpg"
                             alt="Card image cap">
    		        </div>
                    <div class="card-body pt-0">
                    <h5 class="font-weight-bold mb-2">Weather Station</h5>
                    <a href="https://geosurveys.score-eu-project.eu/map/become-a-citizen-scientist-weather-station"
                       class="btn btn-prim waves-effect waves-light mb-3
                       font-weight-bolder">Apply here!</a>
                  </div>
                </div>
    		</div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4" style="padding-bottom: 100px;">
            <div class="mt-4" style="width: 20rem;">
    		    <div class="profile-card-5">
    		        <div class="card-img-block">
    		            <img class="card-img-top" src="/static/images/outdoor_air_quality.jpeg"
                             alt="Card image cap">
    		        </div>
                    <div class="card-body pt-0">
                    <h5 class="font-weight-bold mb-2">Outdoor Air Quality</h5>
                    <a href="https://geosurveys.score-eu-project.eu/map/become-a-citizen-scientist-outdoor-air-quality-kit"
                       class="btn btn-prim waves-effect waves-light mb-3
                       font-weight-bolder">Apply here!</a>
                  </div>
                </div>
    		</div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4" style="padding-bottom: 100px;">
            <div class="mt-4" style="width: 18.5rem;">
    		    <div class="profile-card-5">
    		        <div class="card-img-block">
    		            <img class="card-img-top" src="/static/images/indoor_air_quality_2.jpg"
                             alt="Card image cap">
    		        </div>
                    <div class="card-body pt-0">
                    <h5 class="font-weight-bold mb-2">Indoor Air Quality</h5>
                    <a href="https://geosurveys.score-eu-project.eu/map/become-a-citizen-scientist-indoor-air-quality-kit/"
                       class="btn btn-prim waves-effect waves-light mb-3
                       font-weight-bolder">Apply here!</a>
                  </div>
                </div>
    		</div>
        </div>

    </div>
</div>
{% endblock %}
{% include "footer.html" %}