{% extends "pages/base.html" %}
{% load static %}
{% block head_title %}Become a Citizen Scientist{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
{% include 'pages/base/navbar.html' %}
<div class="mx-auto my-4 col-11">
    <h3 class="text-center font-weight-bolder my-2 mx-2">
        Become a Citizen Scientist: Join Our Personal Weather Station <br>and Air
        Quality Monitor Initiative!
    </h3>

    <div class="row mx-auto my-2 col-12 text-center" id="invitation-letter">
        <div class="col mx-lg-5 mx-md-4 mx-3">
        <p class="text-justify my-2">
            As part of the SCORE project's commitment to harnessing the power of
            citizen science for climate change monitoring, we are thrilled to
            invite you to participate in our latest initiative: the installation
            of personal weather stations and air quality monitors in your home
            or back garden.
        </p>
        <h4 class="font-weight-bolder my-2">What's in it for you?</h4>
        <ul class="list-unstyled">
            <li><span class="font-weight-bold">Free kit:</span> The weather stations and air quality monitors are
                free for volunteers.</li>
            <li><span class="font-weight-bold">Site Analysis:</span> Our expert team will analyse your site to ensure
                it is optimal for your chosen sensor.</li>
            <li><span class="font-weight-bold">A-Z Guide:</span> Volunteers will receive a comprehensive guide for
                a seamless installation and onboarding process.</li>
            <li><span class="font-weight-bold">Technical Support:</span> if at any moment, you experience difficulties
                with the stations, our team will be on-hand to help.</li>
            <li><span class="font-weight-bold">Free weather data:</span> all the data produced by your station will
                be available to not only SCORE and University College Dublin,
                but also to you.</li>
        </ul>
        <p class="text-justify my-2">
            <span class="font-weight-bold">Why a Private Weather Station or air
                quality kit?</span> By hosting this
            equipment in your garden or home, you contribute directly to our
            understanding of local weather patterns and air pollution, essential
            for climate resilience initiatives. It's an opportunity to make a
            meaningful impact while gaining insights into your local environment.
        </p>
        <p class="text-justify my-2">
            We have a limited number of units available, so if you are a suitable
            candidate, we will contact you for further information, and with the
            next steps of the application process. Below we have three types of
            application for each type of sensor, <span class="font-weight-bolder">
            to start an application click on an "Apply here!" button.</span>
        </p>
        <p class="font-weight-bold mt-4 mb-0 text-center">
            <b>We hope that you will join us in making a difference in climate
            resilience through citizen science!</b>
        </p>
        </div>
    </div>

    <div class="row text-center my-2 mx-2 col-12">
        <div class="col-12 col-xs-10 col-md-4" style="padding-bottom: 300px;">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <p class="card-header font-weight-bolder mb-2">Weather Station -
                        Site Selection Process</p>
                    <a href="https://geosurveys.score-eu-project.eu/map/become-a-citizen-scientist-weather-station"
                       class="btn btn-prim waves-effect waves-light mb-3
                       font-weight-bold">Apply here!</a>
                    <img src="/static/images/weather_station.jpg" class="card-img-top"
                     alt="weather station" style="height: 390px; object-fit: cover;">
                    <h4 class="card-title size-5 mt-2">Become a Citizen Scientist
                        in Dún Laoghaire-Rathdown!</h4>
                </div>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-md-4" style="padding-bottom: 300px;">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <p class="card-header font-weight-bold mb-2">Outdoor Air Quality
                        Kit - Site Selection Process</p>
                    <a href="https://geosurveys.score-eu-project.eu/map/become-a-citizen-scientist-outdoor-air-quality-kit"
                       class="btn btn-prim waves-effect waves-light mb-3
                       font-weight-bolder">Apply here!</a>
                    <img src="/static/images/outdoor_air_quality.jpeg" class="card-img-top"
                     alt="outdoor air quality" style="height: 390px; object-fit: cover;">
                    <h5 class="card-title mt-2">Become a Citizen Scientist in
                        Dún Laoghaire-Rathdown!</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-md-4" style="padding-bottom: 300px;">
            <div class="card" style="width: 22rem;">
                <div class="card-body">
                    <p class="card-header font-weight-bold mb-2">Indoor Air Quality
                        Kit - Site Selection Process</p>
                    <a href="https://geosurveys.score-eu-project.eu/map/become-a-citizen-scientist-indoor-air-quality-kit/"
                       class="btn btn-prim waves-effect waves-light mb-3
                       font-weight-bolder">Apply here!</a>
                    <img src="/static/images/indoor_air_quality_2.jpg" class="card-img-top"
                     alt="indoor air quality" style="height: 390px; object-fit: contain;">
                    <h5 class="card-title mt-2">Become a Citizen Scientist in
                        Dún Laoghaire-Rathdown!</h5>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% include "footer.html" %}