{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% load humanize %} 
{% include 'navbar.html' %}
  <!-- <main> -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-center align-items-center">
        <div class="table-responsive">
            <h2>Cost Summary</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Picture</th>
                  <th>Sensor Name</th>
                  <th>Price</th>
                  <th>Minimum Purchase Quantity</th>
                  <th>Quantity</th>
                  <th>Total Price</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody>

        
                {% for item in cart %}
                {% with sensor=item.sensor %}
              <tr>

                <td scope="row">{{ forloop.counter }}</td>
                <td>
                  <a href="{{ sensor.get_absolute_url }}">
                    <img src="{% if sensor.image %}{{ sensor.image.url }}
                    {% else %}{% static "images/no_image.png" %}{% endif %}" style="width: 50px; height:50px ;">
                    </a>
                </td>
                <td>{{item.sensor.sensor_name | linebreaks }}</td>
                <td>€{{item.sensor.price  | intcomma }}</td>

              
                <td style="text-align: center;">{{item.sensor.minimum_purchase_quantity }}</td>
                
                  <td>
                    {{item.quantity}}
                  
                 <!-- <form action="{% url "cart:cart_add" sensor.slug %}" method="post">
                    {{item.quantity}}
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.override }}
                    <input type="submit" value="Update">
                    {% csrf_token %}
                  </form> -->
                </td>

      
                <td>€{{ item.total_price  | intcomma }}</td> 
                <td>
                  <form action="{% url "cart:cart_remove" sensor.slug %}" method="get">

                  <button type="submit" class="btn btn-sm btn-warn"
                          style="padding:.5rem .5rem; margin-top: 0" value="Remove">Remove</button>

                    {% csrf_token %}
                  </form>
                </td>
              </tr>
                {% endwith %}
                {% endfor %}

              
               
                                 
              </tbody>
            </table>   
            <p class="text-right">
              <a href="{% url "orders:create_order" %}" class="btn btn-warn  float-right" id="btn-warning">
                Checkout
              </a>
              <a href="{% url "catalogue:home" %}" class="btn btn-prim float-right" id="btn-primary">Continue</a>
              </p>
            </div>
            </div>
            </div>
          </div>
        </div>
    <!-- </div> -->
  <!-- </main> -->

{% endblock content %}