<!-- Load Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" />
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    body {
        padding-top: 70px;
        font-family: Montserrat, sans-serif;
        display: flex;
        flex-direction: column;
    }

    /* Set the background image */
        body {
            background-image: url('https://community-georeports.fra1.cdn.digitaloceanspaces.com/static/images/score-symbol.png');
            background-repeat: no-repeat;
            background-size: contain; /* Adjust to your preferred size */
            background-position: center center;
            background-attachment: fixed; /* Keeps the background fixed when scrolling */
        }

        /* Adjust the brightness of the background image */
        body::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(173, 216, 230, 0.7); /* Adjust the color and opacity (rgba) as needed */
            z-index: -1;
        }

    .navbar {
        background-color: #003366; /* Dark blue background */
        color: white; /* White text color */
    }
    .navbar-brand img {
        height: 40px; /* Logo height */
        margin-right: 10px; /* Spacing between logo and title */
    }
    .navbar-brand {
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    /* Additional styles for the title next to the logo */
    .navbar-title {
        color: white; /* Title color */
        font-size: 24px; /* Title font size */
        font-weight: bold; /* Title font weight */
    }

    h5 {
        line-height: 1.5;
    }

   /*Profile Card 5*/
    .profile-card-5{
        margin-top:20px;
    }
    .profile-card-5 .btn{
        border-radius:2px;
        text-transform:uppercase;
        font-size:14px;
        padding:14px 40px;
    }
    .profile-card-5 .card-img-block {
        width: 91%;
        margin: 0 auto;
        position: relative;
        top: -20px;

    }
    .profile-card-5 .card-img-block img{
        border-radius:5px;
        box-shadow:0 0 10px rgba(0,0,0,0.63);
    }
    .profile-card-5 h5{
        font-size: 24px;
        font-weight:800;
    }
    .profile-card-5 p{
        font-size:14px;
        font-weight:300;
    }

</style>