{% extends "pages/base.html" %}
{% load static %}
{% block head %}
{% endblock %}
{% block head_title %}Community Applications{% endblock %}
{% block content %}
<br>
<br>
 <h1 class="text-center">Community applications for sensors</h1>
<div class="container text-center">
    <br>
     <div class="row mb-10">
          <div class="col-md-4 mb-3">

            <div class="card" style="width: 18rem;">
              <img src="/static/images/weather_station.jpg" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h4 class="card-title size-5">Become a Citizen Scientist in Dún Laoghaire-Rathdown!</h4>
                <p class="card-text font-weight-bolder">Weather Station - Site selection process</p>
                <a href="https://geosurveys.score-eu-project.eu/map/become-a-citizen-scientist-weather-station"
                   class="btn btn-prim waves-effect waves-light">
                    Apply here!</a>
              </div>
            </div>

          </div>
          <div class="col-md-4 mb-3">

            <div class="card" style="width: 18rem;">
              <img src="/static/images/outdoor_air_quality.jpeg" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title">Become a Citizen Scientist in Dún Laoghaire-Rathdown!</h5>
                <p class="card-text">Outdoor Air Quality Kit - Site selection process</p>
                <a href="#" class="btn btn-prim waves-effect waves-light">Apply here!</a>
              </div>
            </div>

          </div>
          <div class="col-md-4 mb-3">

            <div class="card" style="width: 18rem;">
              <img src="/static/images/indoor_air_quality.jpeg" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title">Become a Citizen Scientist in Dún Laoghaire-Rathdown!</h5>
                <p class="card-text">Indoor Air Quality Kit - Site selection process</p>
                <a href="#" class="btn btn-prim waves-effect waves-light">Apply here!</a>
              </div>
            </div>

          </div>
        </div>



</div>
{% endblock %}
