{% extends "pages/base.html" %}
{% load static %}
{% block head %}
{% include 'observations/map/css.html' %}
{% endblock %}
{% block head_title %}Community Applications{% endblock %}
{% block content %}
<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="">
        <img src="https://score-dt-ewss.test.spatialdynamicslab.xyz/static/images/score_logo_white.png"
             alt="SCORE Logo">
    </a>
</nav>
<div class="mx-auto my-4">
    <h2 class="text-center font-weight-bolder my-2 mx-2">Become a Citizen Scientist!</h2>
    <div class="row mx-auto text-center my-2">
        <div class="col-12 col-xs-12 col-md-4" style="padding-bottom: 300px; margin-left: 5px">
            <div class="card" style="width: 18rem;">
                <img src="/static/images/weather_station.jpg" class="card-img-top" alt="..." style="height: 390px; object-fit: cover;">
                <div class="card-body">
                    <a href="https://geosurveys.score-eu-project.eu/map/become-a-citizen-scientist-weather-station" class="btn btn-prim waves-effect waves-light">Apply here!</a>
                    <h4 class="card-title size-5 mt-2">Become a Citizen Scientist in Dún Laoghaire-Rathdown!</h4>
                    <p class="card-text font-weight-bolder">Weather Station - Site selection process</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-md-4" style="padding-bottom: 250px; margin-left: 5px">
            <div class="card" style="width: 18rem;">
                <img src="/static/images/outdoor_air_quality.jpeg" class="card-img-top" alt="..." style="height: 390px; object-fit: cover;">
                <div class="card-body">
                    <a href="https://geosurveys.score-eu-project.eu/map/become-a-citizen-scientist-outdoor-air-quality-kit" class="btn btn-prim waves-effect waves-light">Apply here!</a>
                    <h5 class="card-title mt-2">Become a Citizen Scientist in Dún Laoghaire-Rathdown!</h5>
                    <p class="card-text font-weight-bolder">Outdoor Air Quality Kit - Site selection process</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-md-4" style="padding-bottom: 300px; margin-left: 5px">
            <div class="card" style="width: 18rem;">
                <img src="/static/images/indoor_air_quality_2.jpg" class="card-img-top" alt="..." style="height: 390px; object-fit: contain;">
                <div class="card-body">
                    <a href="https://geosurveys.score-eu-project.eu/map/become-a-citizen-scientist-indoor-air-quality-kit/" class="btn btn-prim waves-effect waves-light">Apply here!</a>
                    <h5 class="card-title mt-2">Become a Citizen Scientist in Dún Laoghaire-Rathdown!</h5>
                    <p class="card-text font-weight-bolder">Indoor Air Quality Kit - Site selection process</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% include "footer.html" %}