{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <!-- Use Chrome Frame in IE -->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="description" content="SCORE CCLLs Sensors">
    <meta name="copyright" content="Copyright(c) https://score-eu-project.eu/. All rights reserved.">
    <title>SCORE CCLLs Sensors - {% block head_title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+sans-serif&display=swap" rel="stylesheet">
    <!-- Load Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% include 'observations/base/css.html' %}
    {% include 'observations/base/js.html' %}
    {% block head %}
    {% endblock %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block content %}
    {% endblock %}
</body>
</html>