{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% load humanize %} 
{% include 'navbar.html' %}
<div class="container">
    <br>
    <br>
    <h2>Ready {{request.user.first_name}}!</h2>
    <br>
    <p>
    <h5>
        Your <b>sensors selection </b>has been successfully saved.
        <b>(Id. {{order.id }})</b>
    </h5>
    <br>
    <h5>
        An <b>email was sent</b> with the list of sensors and a reference quote
        to <b>{{order.user.email }}</b>
    </h5>
    </p>
    <br>
    <a href="/" class="btn btn-prim">Start a new selection</a>
    <br>
    <br>
 </div>
{% endblock %}