<style>
    #map-container, #sidebar-container {
        width: 100%;
        flex: 1;
    }
    #map {
        height: 100%;
    }
    #map-container {
        height: 50%;
    }
    #sidebar-container {
        height: 50%;
        overflow-y: auto;
        padding-left: 10%;
        padding-right: 10%;
    }
    .leaflet-touch .leaflet-control-zoom-display {
        width: 48px;
        height: 48px;
        font-size: 18px;
        line-height: 40px;
    }
    .leaflet-touch .leaflet-bar a, .leaflet-touch .leaflet-toolbar-0 > li > a {
        width: 44px;
        height: 44px;
        font-size: 20px;
        line-height: 45px;
        background-size: 314px 30px;
    }
    .leaflet-touch a {
        background-position-y: 6px;
    }
    .leaflet-touch .leaflet-touch .leaflet-control-toolbar .leaflet-toolbar-1 > li > .leaflet-toolbar-icon {
        font-size: 20px;
        line-height: 44px;
        height: 44px;
    }
    .leaflet-touch .leaflet-touch .leaflet-toolbar-1 {
        left: 45px;
        color: white;
    }
    #loading-gif {
        display: none; /* Hide the loading gif initially */
        margin: 0 auto;
        padding-top: 20%;
        width: 220px;
        height: 220px;
        background: url('.gif') no-repeat center center; /* Assuming you have a loading.gif in the right path */
    }
</style>