{% extends "observations/base.html" %}
{% load static %}
{% block head %}
{% include 'observations/map/css.html' %}
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-gauge@0.2.1/dist/chartjs-gauge.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% block head_title %}Map {% endblock %}
{% block content %}
{% include 'observations/base/navbar.html' %}
<div >
    <div id="map-container">
        <div id="map"></div>
    </div>

<div class="devicedetailsmain">

    <div id="device-details">
        <h3>Sensor Details</h4>
        <p>Click on a point to see the sensor details and observations.</p>
        <img id="loading-gif" alt="Loading..." style="display: none;">
    </div>
    
   
<!-- <div style="max-width: 78.5%;margin:0 auto;color: #004680;margin-bottom: 20px;padding-bottom: 10px;border-bottom: 2px solid #004680;">
    <h3> <b> Current Conditions </b></h3>
</div>
    <div id="sidebar-container">  
        <div class="container">
            <canvas id="heatIndexChart" class="heatIndexChart"></canvas>
            <div class="details" id="device-details">
               
            </div>
        </div>
        <div class="container">

             <div class="gauge">
                <div class="progress">
                    <div class="bar"></div>
                    <div class="needle"></div>
                </div>
            </div> 
            <canvas id="heatIndexChart" class="heatIndexChart"></canvas>
            <h1>Coming Soon</h1>
            <p>Nore details coming soon</p>
            


        </div>
        <div class="container">
            <canvas id="heatIndexChart" class="heatIndexChart"></canvas>
            <h1>Coming Soon</h1>
            <p>Nore details coming soon</p>

        </div>
        <div class="container">
            <canvas id="heatIndexChart" class="heatIndexChart"></canvas>
            <div>
                <h1>Coming Soon</h1>
                <p>Nore details coming soon</p>
            </div>
        </div>
        <div class="container">
            <canvas id="heatIndexChart" class="heatIndexChart"></canvas>
            <h1>Coming Soon</h1>
            <p>Nore details coming soon</p>

        </div>
        <div class="container">
            <canvas id="heatIndexChart" class="heatIndexChart"></canvas>
            <h1>Coming Soon</h1>
            <p>Nore details coming soon</p>
    </div>
       
    </div> -->
    <div style="max-width: 78.5%;margin:0 auto;color: #004680;margin-bottom: 20px;padding-bottom: 10px;border-bottom: 2px solid #004680;">
        <h3  style="display: flex;"> <b id="sensor" style="margin-right: 4px;"> Graphs </b > <p id="datasensor"> Data </p></h3>
    </div>
    <div>
        <label for="timeRange">Select Time Range:</label>
        <select id="timeRange" onchange="onTimeRangeChange()">
            <option value="day">24 Hrs</option>
            <option value="week">Last Week</option>
            <option value="month">Last Month</option>
        </select>
        <small>(Please wait for chart to update when selecting month or week )</small>
    </div>
    <div id="chartscontainer">
        <canvas class="chart" id="temp" ></canvas>
        <canvas class="chart" id="heat_index"></canvas>

        <canvas class="chart" id="precipitation_rate"></canvas>
        <canvas class="chart" id="precipitation_total"></canvas>
        <canvas class="chart" id="atmospheric_pressure" ></canvas>

        <canvas class="chart" id="dew_point"></canvas>
        <canvas class="chart" id="relative_humidity"></canvas>

        <canvas class="chart" id="uv"></canvas>
        <canvas class="chart" id="solar_radiation"></canvas>


       

       
        
        <canvas class="chart" id="wind_chill"></canvas>
        <canvas class="chart" id="wind_speed"></canvas>
        <canvas class="chart" id="wind_gust"></canvas>
        <canvas class="chart" id="wind_direction"></canvas>

       
        
    </div>
    
    <!-- temp
  
   
    map/:575 
    map/:575 
    map/:575 wind_direction
    map/:575 wind_speed
    map/:575 wind_gust
    
    map/:575 precipitation_rate
    map/:575 precipitation_total
    map/:575 uv
    map/:575  -->
</div>
   


</div>



    {% include 'observations/map/js.html' %}
{% endblock %}
