{% extends "observations/base.html" %}
{% load static %}

{% block head %}
{% include 'observations/map/css.html' %}
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-gauge@0.2.1/dist/chartjs-gauge.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% block head_title %}Map {% endblock %}
{% block content %}
{% include 'observations/base/navbar.html' %}
<div >
    <div id="map-container">
        <div id="map"></div>
    </div>

    


   
<div class="devicedetailsmain">

   

    <div id="device-details">
        <h3 style="text-align: center;">Sensor Details</h4>
        <p  style="text-align: center;">Click on a point to see the sensor details and observations.</p>
        <img id="loading-gif"  style="display: none;">
    </div>
    
   
    <div style="max-width: 78.5%;margin:20px auto;color: #004680;margin-bottom: 20px; border-bottom: 2px solid #004680;">
        <h3  style="display: flex;     justify-content: center; " > <b id="sensor" style="margin-right: 4px;"> Graphs </b > <p id="datasensor"> Data </p></h3>
    </div>
    <div  id="dropdown"  style="max-width: 78.5%; margin: 0 auto; text-align: center;">
        <label for="timeRange">Select Time Range:</label>
        <select id="timeRange" onchange="onTimeRangeChange()">
            <option value="day">24 Hrs</option>
            <option value="week">Last Week</option>
            <option value="month">Last Month</option>
        </select>
        <img src="{% static '/images/chartLoading.gif' %}" id="chart-loading" alt="" style="width:50px; height: 50px; display:none;">
        <small>(Please wait for chart to update when selecting month or week )</small>
       
    </div>

    <div id="smartChartContainer" >
        <div class="smartchartbox" id="sChart" >
            <canvas class="chart" id="smart-chart"> </canvas>
        </div>
    </div>
    
    <div id="chartscontainer">
        
        <div class="chartbox">
            <canvas class="chart" id="temp" ></canvas>
        </div>
        
        <div class="chartbox">
        <canvas class="chart" id="heat_index"></canvas>
        </div>


        <div class="chartbox">
        <canvas class="chart" id="precipitation_rate"></canvas>
        </div> 

        <div class="chartbox">
        <canvas class="chart" id="precipitation_total"></canvas>
        </div>


        <div class="chartbox">
        <canvas class="chart" id="atmospheric_pressure" ></canvas>
        </div>

        <div class="chartbox">
        <canvas class="chart" id="dew_point"></canvas>
        </div> 

        <div class="chartbox">
        <canvas class="chart" id="relative_humidity"></canvas>
        </div>

        <div class="chartbox">
        <canvas class="chart" id="uv"></canvas>
        </div>

        <div class="chartbox">
        <canvas class="chart" id="solar_radiation"></canvas>
        
       </div>   

       

       
       <div class="chartbox">
        <canvas class="chart" id="wind_chill"></canvas>
    </div>

        <div class="chartbox">
        <canvas class="chart" id="wind_speed"></canvas>
    </div>

        <div class="chartbox">
        <canvas class="chart" id="wind_gust"></canvas>
    </div>
        <div class="chartbox">
        <canvas class="chart" id="wind_direction"></canvas>
    </div>
       
        
    </div>


    <button id="backToTopBtn" title="Go to top">Back to top</button>
    
</div>
   


</div>



    {% include 'observations/map/js.html' %}
{% endblock %}
