<!-- Load Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" />
<style>
        html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    body {
        padding-top: 70px;
        font-family: Montserrat, sans-serif;
        display: flex;
        flex-direction: column;
    }
    .navbar {
        background-color: #003366; /* Dark blue background */
        color: white; /* White text color */
    }
    .navbar-brand img {
        height: 40px; /* Logo height */
        margin-right: 10px; /* Spacing between logo and title */
    }
    .navbar-brand {
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    /* Additional styles for the title next to the logo */
    .navbar-title {
        color: white; /* Title color */
        font-size: 24px; /* Title font size */
        font-weight: bold; /* Title font weight */
    }
</style>