{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% load humanize %}
<diV>
<div class="accordion accordion-toggle" style="font-weight: bold">
    Sensor Properties
</div>
<div class="panel">
    <table class="table table-responsive">
        <thead>
            <tr>
            <th>Accuracy (error of the measurements)</th>
            <th>Unit of measurement</th>
            <th>Data Refresh Time (mins)</th>
            <th>Wi-Fi Connection</th>
            <th>4G Connection</th>
            <th>External Power Supply</th>
            <th>Documentation</th>
            </tr>
        </thead><tbody>
            <tr>
            <td>{{ sensor.accuracy }}</td>
            <td>{{ sensor.unit_of_measurement }}</td>
            <td>{{ sensor.data_refresh_time }}</td>
            <td>{{ sensor.wifi_connection }}</td>
            <td>{{ sensor.mobile_data_connection }}</td>
            <td>{{ sensor.external_power_supply }}</td>
            <td>
                {% if sensor.sensor_name == 'DIY wave gauge' %}
                <a href="https://drive.google.com/drive/folders/1DfEX4-AtzhsiDW5vRylHC-OUlri6GlX5?usp=sharing"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                 {% if sensor.sensor_name == 'Kite Aerial Photography (KAP)' %}
                <a href="https://drive.google.com/drive/folders/1-42CW3Hjw2JdJEOWOTzS4w7YUaQbT_jX?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'SmartLNB' %}
                <a href="https://drive.google.com/drive/folders/1lSNQbFuyB2ztRvfLpz_aXf29LNfxvm5o?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'Optical rain sensor' %}
                <a href="https://drive.google.com/drive/folders/1_s8TN0lerbWlvJJHOEdUruuKtaDIMTqh?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'Smart Pebbles' %}
                <a href="https://drive.google.com/drive/folders/1RySv6dnTl9B-d3NKOkei7KSIL4fKAoDb?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'Onset HOBO water level loggers' %}
                <a href="https://drive.google.com/drive/folders/177J4ZtBQvCVlPY_IqiAaYgjIjIwjOA0P?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'MaxBotix Ultrasonic sensors' %}
                <a href="https://drive.google.com/drive/folders/1tlrMndixG7dbwt7v0IP_lkMdpVhQkavJ?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'Lidar-lite V3HP' %}
                <a href="https://drive.google.com/drive/folders/1YG_h1dQzz8GKzXXc4lHkm-c6ZboNifWB?usp=sharing"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'BRESSER WIFI ClearView Weather Station with 7-in-1 Sensor' %}
                <a href="https://drive.google.com/drive/folders/1LhMITmtgAkr7fp7aJvBfNM3rOiLTPqPN?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'Remote Telemetry Units (RTUs) + sensors' %}
                <a href="https://drive.google.com/drive/folders/17fbSm0ip5OlkU7pGeFz8bZFp5HUFAgci?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'Art Sewer' %}
                <a href="https://drive.google.com/drive/folders/1PWHlX51Mzn5en8vYdy1uiLMTMD_9wf9H?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'Smart Citizen Water/Soil Station' %}
                <a href="https://drive.google.com/drive/folders/11L7_b5ueKbdftnX2_0Dp_0EXgWx52wFi?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                <!-- New sensors-->
                {% if sensor.sensor_name == 'Spot leak detector' %}
                <a href="https://drive.google.com/drive/folders/18jn8QJJEW4kBkOnjcPRtfj_Kt_NY2Epv?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'SenseCAP S2120 8-in-1 LoRaWAN Weather Sensor' %}
                <a href="https://drive.google.com/drive/folders/16ToyWo0lseMXZgg-JhmNwsj2tgG1Fnn_?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'LoRaWAN LIDAR ToF Distance sensor LLDS12' %}
                <a href="https://drive.google.com/drive/folders/1PKrmMxXq6-STLwv6WSVThuvDGMOqlUWZ?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'PLS Level Sensor' %}
                <a href="https://drive.google.com/drive/folders/1EI3E9fFp9Qm0XkcJZ8E0nTsGBbwHQBye?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'SHN Thermo-Hygrometre' %}
                <a href="https://drive.google.com/drive/folders/1koVj-9eS68KI0v1pMEH59ybGdSO6yU1i?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'PTZ Camera' %}
                <a href="https://drive.google.com/drive/folders/1bqwuTsiy8MiTGiDNAoMB_zEptYlReErZ?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'Fixed Camera' %}
                <a href="https://drive.google.com/drive/folders/1myI1YuoeWfdOcVls6RcDqrfRK-U_9J1F?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'TW - Water Temperature Sensor' %}
                <a href="https://drive.google.com/drive/folders/1SPq6PveLwcHoGbUxE8UaUITT-u0bVQzq?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'iMoisture - Soil Moisture Sensor' %}
                <a href="https://drive.google.com/drive/folders/1tEncq0vhsPg_RG0XkljanQ5Sxr_Ewsu0?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'R102 Pluviometre' %}
                <a href="https://drive.google.com/drive/folders/1mTsdlYrzhBIB6l1QuKY1HHDcYgK5v4yF?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'Radar-Operated Tide Level Sensor' %}
                <a href="https://drive.google.com/drive/folders/1NpdcowjXX9Sa7H77VU-lh1vEBiNHmDiZ?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'Float-Operated Tide Level Sensor' %}
                <a href="https://drive.google.com/drive/folders/15nwoM6y5kdhZuovi7DqCaTz-I8N-BeNs?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'ULS Level Sensor' %}
                <a href="https://drive.google.com/drive/folders/1c-7C0g_DoiSoH4EsFKCXNRtFYkA7zVM9?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'RLS Level Sensor' %}
                <a href="https://drive.google.com/drive/folders/1P_ZyfnjAiev-dd2WgX-GF1ibW69wtVzo?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'BP260 Pressure Sensor' %}
                <a href="https://drive.google.com/drive/folders/1I5Bv9csLz3_Lmei1xArLO-cWFfbpka78?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
                {% if sensor.sensor_name == 'WSG Sonic Anemometer' %}
                <a href="https://drive.google.com/drive/folders/1yvPywCiDHEg7SPcZHGL-ipwwQ9vlc17K?usp=share_link"
                   target="_blank" style="color: blue;" >
                    See available docs for {{sensor.sensor_name}}
                </a>
                {% endif %}
          </td>
            </tr>
        </tbody>
        </table>
</div>

<button class="accordion" style="font-weight: bold">
    Historical Information</button>
<div class="panel">
    <div class="col-md-12 mb-2">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Reference Partners</th>
              <th>Project Name</th>
              <th>Project Year</th>
              <th>Reference Paper</th>
              <th>Minimum Purchase</th>
              <th>Spatial Density</th>
            </tr>
          </thead><tbody>
            <tr>
              <td>{{ sensor.reference_partner  }}</td>
              <td>{% if sensor.project_website %}
                  <a href="{{ sensor.project_website }}" target="_blank"
                     style="color: blue;" >{{ sensor.project_name }}
                  </a>
                  {% else %} {{ sensor.project_name }} {% endif %}
              </td>
              <td>{{ sensor.project_year }}</td> 
                <td>{% if sensor.reference_paper %}
                    <a href="{{ sensor.reference_paper }}" target="_blank"
                       style="color: blue;" >Reference paper
                    </a>
                    {% else %} Not available{% endif %}
                </td>
              <td>{{ sensor.minimum_purchase_quantity  }}</td>
              <td>{{ sensor.spatial_density_per_area  }}</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>

<button class="accordion" style="font-weight: bold">
    Operation Complexities</button>
<div class="panel">
    {% include 'complexities.html' %}
</div>

<button class="accordion" style="font-weight: bold">Citizen Science</button>
<div class="panel">
    <table class="table table-responsive">
        <thead>
          <tr>
            <th>Citizen Science Activities Complexity</th>
            <th>Assembly Public Involvement</th>
            <th>Deployment Public Involvement</th>
            <th>Data analysis Public Involvement</th>
            <th>Target Users</th>
          </tr>
        </thead><tbody>
          <tr>
            <!-- <td>{{ sensor.citizen_science_operation.get_name_display   }}</td> -->

          <td>
<!--            <img src="{% if sensor.citizen_science_operation.image %}-->
<!--            {{ sensor.citizen_science_operation.image.url }} {% else %}-->
<!--            {{ sensor.citizen_science_operation.get_name_display }} {% endif %}"-->
<!--                 alt="{{ sensor.citizen_science_operation.get_name_display }}"-->
<!--                 class="image-difficulty">-->
              {{ sensor.citizen_science_operation.get_name_display }}
          </td>
            <td>{{ sensor.assembly_operation_public_involvement }}</td>
            <td>{{ sensor.deployment_operation_public_involvement }}</td>
            <td>{{ sensor.data_analysis_public_involvement }}</td>
            <td>{{ sensor.targeted_user }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
  <script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active-accordion");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }
    </script>
  {% endblock %}