
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}SCORE Sensor Catalogue{% endblock %}</title>
  {% block extra_head %}
  {% endblock %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="{% static 'old_static/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'old_static/css/mdb.min.css' %}" rel="stylesheet">
   <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}" />
   <link rel="stylesheet" href="{% static 'css/sensor_catalogue_style.css' %}"/>
  <style type="text/css"></style>
</head>
<body>

    <div class="mt-5 pt-4">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
    {% endif %}
    </div>

    {% block content %}
    {% endblock content %}

    {% block extra_body %}
    {% endblock %}

    {% include "footer.html" %}
    {% include "scripts.html" %}

    {% block extra_scripts %}
    {% endblock extra_scripts %}
</body>


</html>