{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% load humanize %} 


<div class="col-md-12 mb-2">
    <table class="table">
      <thead>
        <tr>
          <th>Purchase operations complexity</th>
          <th>Assembly/Calibration Operations Complexity</th>
          <th>Deployment operation Complexity </th>
          <th>Deployment Cost</th>
          <th>Data Analysis Operations Complexity</th>
     
        </tr>
      </thead><tbody>
        <tr>
          <td>{{ sensor.purchase_operation.get_name_display  }}</td>
          <td>{{ sensor.assembly_operation.get_name_display  }}</td>
          <td>{{ sensor.deployment_operation.get_name_display  }}</td>
          <td>{{ sensor.deployment_costs.get_name_display }}</td>
          <td>{{ sensor.data_analysis_operation.get_name_display  }}</td>
     
        </tr>
      </tbody>
    </table>
  </div>
  {% endblock %}