{% extends "base.html" %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Hazards</h1>
            <hr>
            <div class="row">
              {% if hazards %}

              {% for hazard in hazards %}
              <div class="col-md-3">
                <div class="card">
                <a href="{% url 'catalogue:hazard_sensor_list' hazard.slug %}">
                  <div class="card-body">
                    <h4 class="text-center">{{hazard.name}}</h4>
                    <div class="card-image">
                      <img src="{% if hazard.image %}{{ hazard.image.url }} {% else %}{% static "images/no_image.png" %} {% endif %}" alt="{{ hazard.name}}" style="width:50%;height:50%; margin-left: auto;margin-right: auto; display: block;" class="w-">
                    </div>
                    </div>
                </a>
              </div>
              </div>
              {% endfor %}
              {% else %}
              <p>No hazards in the database yet!</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>       
{% endblock content %}