{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% load humanize %} 

{% include 'navbar.html' %}
<div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-center align-items-center" style="height: 50vh">
            <div class="text-center">
              <img
              src="{% static "images/score-sensors-catalogue-big-logo.png" %}"
              height="250"
              alt="SCORE-LOGO-web"
              loading="lazy"
              title="SCORE-Sensors Catalogue"
              />
              <h5 class="mb-3">Catalogue of low-cost sensors viable for citizen science activities.</h5>
              <!-- <p class="mb-3">Sensor Catalogue Team</p> -->
            </div>
          </div>
        </div>
        </div>
        <hr>
      </div>
<div class="container">
<div class = "row">
  <div class="col-md-3">
    <h5>Filter by Hazards</h5>
    <hr>
<br>
<br>
          <a class="list-group-item" href="{% url 'catalogue:home' %}">All</a>
        {% for hazard in hazards %}
        <a href="{% url 'catalogue:home' %}?hazard={{ hazard.id }}">
          <li class="list-group-item" style="align-items:normal">
            <img src="{% if hazard.image %}{{ hazard.image.url }} {% else %}{% static "images/no_image.pn" %} {% endif %}" alt="{{ hazard.id}}" class="hazard-link-icon" >
            <p>{{ hazard.name }}</p>
        </a>
          </li>
        {% endfor %}
        <!-- <h5 style="text-align: left;">Multi filters</h5> -->
<hr>
        <div class="container">
          <h5>Multiple fields filter</h5>
        </div>
        <hr>
        <div class="container">
          <div class="form">
            <div class="col-md-2">
                <form method="get" >
                  {{sensor_filter.form.as_table  }}
                  <button class="btn btn-primary" type="submit">Filter</button>
                  <button class="btn btn-warning" type = "button" onclick='window.location="/";'>Clear</button>

                </form>
            </div>

          </div>
        </div>
  </div>
  <div class="col-md-9" style="border-left-color: azure;">

    <h5>Sensors</h5>
    <hr>

{% if sensors %}
   <div class="row align-items-center">
      {% for sensor in sensors %}        
        <!-- <div class="col-lg-3 col-md-4 mb-3"> -->
        <div class="col-lg-4 col-md-2 mb-4">
        <div class="card">
            <div class="flip-card"> 
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="{% if sensor.image %}{{ sensor.image.url }}{% else %}{% static "images/no_image.png" %}{% endif %}" alt="{{ sensor.sensor_name}}" style="width:100%;height:100%; margin-left: auto;margin-right: auto; display: block;" class="w-">
                </div>
                <div class="flip-card-back">
                  {{ sensor.short_summary }} 
                </div>
              </div>
            </div>
            <div class="card-body" style="text-align: center;">
            <a href="{{ sensor.get_absolute_url }}" class="text-reset">
              <h5 class="card-title mb-2">{{sensor.name_summary}}</h5>
            </a>
            <h6 class="card-subtitle mt-1">Cost €:{{sensor.price | intcomma}}</h6>
          </div>
        </div>
      </div>  
      {% endfor %}
      {% else %}
      <h6 style="color: darkred;"> No sensors currently available under the {{sensor.hazards.all}} hazard in your filter!</h6>
      {% endif %}
    </div>
</div>
</div>

<!-- </div> -->
{% endblock content%}