{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

{% include 'navbar.html' %}

<div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-center align-items-center" style="height: 50vh">
            <div class="text-center">
              <img
           
              src="{% static "images/score-sensors-catalogue-big-logo.png" %}"
              height="250"
              alt="SCORE-LOGO-web"
              loading="lazy"
              title="SCORE-Sensors Catalogue"
              />
              <h5 class="mb-3">Catalogue of low-cost sensors viable for citizen science activities.</h5>
              <!-- <p class="mb-3">Sensor Catalogue Team</p> -->
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="container">
<!-- FILTER SENSORS  -->
  <hr>

  <div class="container">

    <div class="row ">

      <div class="col-md-12">
      {% include 'hazard_legend.html' %}
    </div>
    </div>
    </div>
    <br>
    <div class="container">

      <div class="row ">

        <div class="col-md-12">

          {% include 'filter.html' %}
      </div>
    </div>
    </div>
    <br>
    <div class="container">
      <div class="row ">
        <div class="col-md-12">
      <!-- Parameters Legend -->
      </div>
    </div>
    </div> 

<br>
   
    <div class="container">

      <div class="row ">

        <div class="col-md-12">
      <!-- Installation Operation Legend -->
      </div>
    </div>
    </div>
    <!-- End your project here-->
{% endblock content%}