{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Install Difficulty</h4>
        <hr>
        <div class="row">
          {% for parameter in install_operation_difficulties %}
          <div class="col-md-3  mb-4">
            <div class="card">
                <a href="{% url 'catalogue:install_difficulty_sensor_list' 'installation_operation' %}">
              <div class="card-body">
                <h5 class="text-center">{{parameter.get_name_display}}</h5>
                <div class="card-image">
                  <img src="{% if parameter.image %}{{ parameter.image.url }} {% else %}{% static "images/no_image.png" %} {% endif %}" alt="{{ parameter.name}}" style="width:50%;height:50%; margin-left: auto;margin-right: auto; display: block;" class="w-">
                </div>
                </div>

            </a>
          </div>
          </div>
          {% endfor %}
  
        </div>
      </div>
    </div>
  </div>       

<br>

{% endblock %}

