{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% load humanize %} 
{% include 'navbar.html' %}
  <!-- <main> -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-center align-items-center">
        <div class="table-responsive">
            <h2>Cost Summary</h2>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Sensor Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Min Purchase</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total Price</th>
                </tr>
              </thead>
              <tbody>
                {% for order_sensor in order.sensors.all  %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{order_sensor.sensor.sensor_name}}</td>
                  <td>€{{order_sensor.sensor.price  | intcomma }}</td>
                  <td>{{order_sensor.sensor.minimum_purchase_quantity }}</td>
                  <td>
                    <a href="{% url 'catalogue:remove-single-sensor-from-cart' order_sensor.sensor.slug %}"><i class="fas fa-minus mr-2"></i></a>
                    {{order_sensor.quantity}}
                    <a href="{% url 'catalogue:add-to-cart' order_sensor.sensor.slug %}"><i class="fas fa-plus ml-2"></i></a>
                </td>
                  <td>€{{ order_sensor.get_total_sensor_price  | intcomma }}

                    <a style='color: red' href="{% url 'catalogue:remove-from-cart' order_sensor.sensor.slug %}">

                    <i class="fas fa-trash-alt float-right"></i>

                    </a>
                  </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">Your cart is currently empty</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <a class='btn btn-primary float-right' href="/"> Continue </a>
                    </td>

                </tr>
                {% endfor %}

                {% if order.get_order_total %}

                <tr>
                    <td colspan="4"><b><strong>Total Cost</strong></b></td>
                    <td><b>€{{order.get_order_total  | intcomma }}</b></td>
                  </tr>
                  <tr>
                    <td colspan="5">
                        <a class='btn btn-warning float-right ml-2' href="/checkout/"> Proceed to checkout </a>
                        <a class='btn btn-primary float-right' href="/"> Continue </a>
                    </td>
                  </tr>

                  {% endif %}
              </tbody>
            </table>
            </div>
            </div>

</div>
          </div>
        <!-- </div> -->
    <!-- </div> -->
  <!-- </main> -->

{% endblock content %}