{% extends "base.html" %}

{% block content %}

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">
        <!--Grid column-->
        <div class="col-md-4 mb-3">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="img-fluid" alt="">
          
          
        </div>

        <div class="col-md-6 mb-4">
          <!--Content-->
          <div class="p-4">
            <div class="mb-3">
              {{sensor.sensor_name}}
              <a href="">
                <span class="badge purple mr-1">{{ sensor.get_citizen_science_operation_display }}</span>
              </a>
            </div>
            <p class="lead font-weight-bold">Details Description</p>

              <p>{{ sensor.full_description  }}</p>

              <p class="lead">
                <span> €{{ object.price }}</span>
              </p>
            
            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>

            <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
              Remove from cart
            </a>
          </div>
          <div>
          </div>

        </div>
        <!--Grid column -->
        <!-- Display table content here -->


      </div>
      <!--Grid row-->

      <div class="col-md-12 mb-2">
        <table class="table">
          <thead>
            <tr>
              <th>Project Name</th>
              <th>Project Year</th>
              <th>Project website</th>
              <th>Monitored Parameters</th>
              <th>Project website</th>
              <th>Project users</th>
            </tr>
          </thead><tbody>
            <tr>
              <td>{{ object.project_name  }}</td>
              <td>{{ object.project_year }}</td>
              <td>{{ object.project_website  }}</td>
              <td>{{ object.hazard_specific  }}</td>
              <td>{{ object.targeted_user  }}</td>
              <td>{{ object.targeted_user  }}</td>
            </tr>
          </tbody>
  
        </table>
      </div>

      <hr/>
      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">
          <p>
            More pictures
          </p>

        </div>
        <!--Grid column-->
        

      </div>

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      </div>
      <!--Grid row-->


  </main>

{% endblock content %}
