
body{
    font-family: "Montserrat","sans-serif";
    /*  font-family: 'Open Sans'; */
    /* font-style: normal; */
    /* font-size: 13px; */
    background-color: #eef5f8;
}

a {
  color: #454343;
  font-size: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}
a.img{
  width: 40px;
  height: 40px;
}
.card{
  height: 300px;
  width:250px;
  /* margin:0%; */
  margin-top: 50px;
  /* text-align: center; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.card-title{
  color: #3ab2ca;
  font-size: medium;
}

.card-subtitle {
    font-size: 1em;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    /* width: 250px;
    height: 390px; */
    perspective: 1000px;
    margin-left: auto; 
    margin-right: auto;
    margin-top:auto;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 16px;
    font-size: 13px;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 95%;
    height: 95%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
    /* margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px; */
  }
  
  .flip-card-front {
    background-color: transparent;
    color: black;
  }
  
  .flip-card-back {
    background-color: #3ab2ca;
    /* background-color: rgb(255, 30, 68); */
    color: white;
    transform: rotateY(180deg);
    border-radius: 16px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;    
    font-family: "Montserrat","sans-serif";
    /* font-family: "montserrat"; */
    /* font-family: 'Open Sans'; */
    
    /* font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* font-size: small; */
  }

  .card-legend{
    height: 200px;
    width: 200px;
    background-color: beige;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: auto; 
    margin-right: auto;
  }

  .form-group{
    width: fit-content;
    height: fit-content;
    /* background-color: red; */
  }
  .checkout-card{
    /* background-color:cyan;
    border: cornsilk; */
  }

  .table-responsive{
    /* background-color: cadetblue; */
  }